@import '../_partials/settings';

#navbar {
  font-size: 30px;
  position: fixed;
  background: $black;
  width: 100%;
  height: auto;
  z-index: 0;
  .navbar-inner-wrapper {
    width: 100%;
    height: 100%;
    .nav-logo {
      float: left;
      width: 50px;
      > img {
        vertical-align: text-bottom;
      }
    }
    .hamburger {
      z-index: 10;
      float: right;
      margin-right: 10px;
    }
    .nav-body {
      z-index: 1;
      background: $black;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0px;
      z-index: -1;
      transition: 0.3s;
      &.hide-nav {
        left: 100%;
      }
      &.show-nav {
        // this class will toggle with javascript. Look inside navBar.js for logic
        left: 0%;
      }
      > .nav-list {
        // align nav list close to middle in any screen size. use top: 50% for middle
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        margin: auto;
        left: 0;
        right: 0;
        > .nav-item {
          padding: 5px;
          margin: 10px auto;
        }
      }
    }
  }


}
