// colors
$black: #000;
$tranparent-black: rgba(0, 0, 0, .3);
$tranparent-white: rgba(255, 255, 255, .3);
$transparent-navy: rgba(32, 67, 147, .5);
$light-black: #0D1C2A;
$light-grey: #b1b1b1;
$beige-shade: #AE875F;
