@import '../../_partials/settings';

.global-btn {
  appearance: none;
  background: $tranparent-white;
  border: solid 1px $tranparent-white;
  border-radius: 3px;
  color: $white;
  padding: 5px;
}
