// I don't use shorthand on stylesheets for better browser support

@import './vendor/normalize';
@import './vendor/fonts';
@import './_partials/settings';
@import './_partials/mixins';
@import './global/buttons.scss';
@import './global/navBar.scss';
@import './global/footer.scss';
@import './apps/slack-app.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #main {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  text-shadow: 0 0 0 $black;
  color: $light-grey;
  background-color: $light-black;
  background-attachment: fixed;
  background-blend-mode: color-burn;
  background-image: url('./../assets/images/global/c&c_logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 320px;

  .popup-modal {
    z-index: 100;
    height: 100%;
    width: 100%;
    position: fixed;
    background: $mid-tranparent-black;
    display: none;
  }

  .page-title {
    margin: 24px auto;
  }

  li {
    list-style: none;
  }

  a {
    cursor: pointer;
    display: inline-block;
    color: $beige-shade;
  }

  button {
    cursor: pointer;
  }

  img {
    height: 100%;
    width: 100%;
  }

  #main {
    // 45px on top because navbar is fixed and is 45px in height
    padding-top: 45px;
    .page-section {
      padding: 0px 20px;
      // add height 100% so each section has a full page
      // height: 100%;
      p {
        max-width: 540px;
        margin: auto;
        text-align: left;
        line-height: 2;
        padding: 10px;
      }
      &#home-section {
        // no content here yet
      }
    }
  }
}
